In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
df = pd.read_csv('airbnb_sample.csv')
df.head()

C:\Users\mikikicsy\AppData\Local\Temp\ipykernel_6332\454726530.py:1: DtypeWarning: Columns (18,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('airbnb_sample.csv')

,Listing ID,Last Scraped,Host ID,Host Name,Host Since,Host Location,Host Response Time,Host Response Rate,Host Acceptance Rate,Host Neighborhood,...,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Cancellation Policy,Calculated host listings count,Reviews per month,Geolocation,Sentiment
0,4917301,5/2/17,24035721,Michael,11/22/14,"Los Angeles, California, United States",NaN,NaN,NaN,Woodland Hills/Warner Center,...,NaN,NaN,NaN,NaN,NaN,flexible,1.0,NaN,"34.1477564923,-118.591337801",NaN
1,8384432,5/3/17,506809,Ky,4/13/11,"Los Angeles, California, United States",within a few hours,100.0,NaN,Woodland Hills/Warner Center,...,10.0,10.0,10.0,10.0,10.0,strict,2.0,0.16,"34.1485944277,-118.596683716",2.0
2,3874726,5/3/17,19684108,Celia,8/8/14,"Paris, Île-de-France, France",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,strict,1.0,NaN,"34.1581129287,-118.623455189",NaN
3,9798152,5/3/17,6912939,Nick,6/14/13,"New York, New York, United States",NaN,NaN,NaN,West Hollywood,...,NaN,NaN,NaN,NaN,NaN,strict,1.0,NaN,"34.0883875483,-118.35847759",NaN
4,9154029,5/3/17,24663738,Angelita (AKA) LIA,12/9/14,"Los Angeles, California, United States",within a few hours,100.0,NaN,Justicia,...,10.0,10.0,10.0,10.0,10.0,strict,1.0,0.12,"34.0897418683,-118.386142001",2.0

In [3]:
# Replace spaces with underscores in column names
df.columns = [col.replace(' ', '_') for col in df.columns]

# Remove spaces and underscores from column names
df.columns = [col.replace(' ', '').replace('_', '') for col in df.columns]

# Convert all column names to lowercase
df.columns = [col.lower() for col in df.columns]

# Convert contents of column 'state' to uppercase
df['state'] = df['state'].str.upper()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51171 entries, 0 to 51170
Data columns (total 63 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   listingid                    51171 non-null  int64
 1   lastscraped                  51171 non-null  object
 2   hostid                       51171 non-null  int64
 3   hostname                     51035 non-null  object
 4   hostsince                    51035 non-null  object
 5   hostlocation                 50757 non-null  object
 6   hostresponsetime             38028 non-null  object
 7   hostresponserate             38028 non-null  float64
 8   hostacceptancerate           6531 non-null   object
 9   hostneighborhood             42248 non-null  object
 10  hostlistingscount            51035 non-null  float64
 11  hosttotallistingscount       51035 non-null  float64
 12  street                       51171 non-null  object
 13  neighborhood                 40548 non-null  object
 14  neighborhoodcleansed         51171 non-null  object
 15  neighborhoodgroupcleansed    17294 non-null  object
 16  city                         51146 non-null  object
 17  state                        51171 non-null  object
 18  zipcode                      50477 non-null  object
 19  market                       50755 non-null  object
 20  country                      51171 non-null  object
 21  latitude                     51171 non-null  float64
 22  longitude                    51171 non-null  float64
 23  propertytype                 51169 non-null  object
 24  roomtype                     51171 non-null  object
 25  accomodates                  51147 non-null  float64
 26  bathrooms                    51018 non-null  float64
 27  bedrooms                     51116 non-null  float64
 28  beds                         51079 non-null  float64
 29  bedtype                      51171 non-null  object
 30  amenities                    50626 non-null  object
 31  squarefeet                   649 non-null    float64
 32  price                        50348 non-null  float64
 33  weeklyprice                  7569 non-null   float64
 34  monthlyprice                 9118 non-null   float64
 35  securitydeposit              20609 non-null  float64
 36  cleaningfee                  35740 non-null  float64
 37  guestsincluded               51171 non-null  int64
 38  extrapeople                  51171 non-null  int64
 39  minimumnights                51171 non-null  int64
 40  maximumnights                51171 non-null  int64
 41  calendarupdated              51171 non-null  object
 42  hasavailability              1551 non-null   object
 43  availability30               51171 non-null  int64
 44  availability60               51171 non-null  int64
 45  availability90               51171 non-null  int64
 46  availability365              51171 non-null  int64
 47  calendarlastscraped          51171 non-null  object
 48  numberofreviews              51171 non-null  int64
 49  firstreview                  38018 non-null  object
 50  lastreview                   38071 non-null  object
 51  reviewscoresrating           37375 non-null  float64
 52  reviewscoresaccuracy         37283 non-null  float64
 53  reviewscorescleanliness      37296 non-null  float64
 54  reviewscorescheckin          37248 non-null  float64
 55  reviewscorescommunication    37302 non-null  float64
 56  reviewscoreslocation         37251 non-null  float64
 57  reviewscoresvalue            37247 non-null  float64
 58  cancellationpolicy           51170 non-null  object
 59  calculatedhostlistingscount  51170 non-null  float64
 60  reviewspermonth              38017 non-null  float64
 61  geolocation                  51170 non-null  object
 62  sentiment                    38009 non-null  float64
dtypes: float64(25), int64(11), object(27)
memory usage: 24.6+ MB

In [4]:
df.head()

,listingid,lastscraped,hostid,hostname,hostsince,hostlocation,hostresponsetime,hostresponserate,hostacceptancerate,hostneighborhood,...,reviewscorescleanliness,reviewscorescheckin,reviewscorescommunication,reviewscoreslocation,reviewscoresvalue,cancellationpolicy,calculatedhostlistingscount,reviewspermonth,geolocation,sentiment
0,4917301,5/2/17,24035721,Michael,11/22/14,"Los Angeles, California, United States",NaN,NaN,NaN,Woodland Hills/Warner Center,...,NaN,NaN,NaN,NaN,NaN,flexible,1.0,NaN,"34.1477564923,-118.591337801",NaN
1,8384432,5/3/17,506809,Ky,4/13/11,"Los Angeles, California, United States",within a few hours,100.0,NaN,Woodland Hills/Warner Center,...,10.0,10.0,10.0,10.0,10.0,strict,2.0,0.16,"34.1485944277,-118.596683716",2.0
2,3874726,5/3/17,19684108,Celia,8/8/14,"Paris, Île-de-France, France",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,strict,1.0,NaN,"34.1581129287,-118.623455189",NaN
3,9798152,5/3/17,6912939,Nick,6/14/13,"New York, New York, United States",NaN,NaN,NaN,West Hollywood,...,NaN,NaN,NaN,NaN,NaN,strict,1.0,NaN,"34.0883875483,-118.35847759",NaN
4,9154029,5/3/17,24663738,Angelita (AKA) LIA,12/9/14,"Los Angeles, California, United States",within a few hours,100.0,NaN,Justicia,...,10.0,10.0,10.0,10.0,10.0,strict,1.0,0.12,"34.0897418683,-118.386142001",2.0

In [5]:
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost/g7'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

In [6]:
# Be used to drop the tables before re-running the whole process or making changes to the tables, if you don't need that code, 
# just add the #
with engine.connect() as connection:
    connection.execute("DROP TABLE hosts CASCADE")
    connection.execute("DROP TABLE listings CASCADE")
    connection.execute("DROP TABLE geolocations CASCADE")
    connection.execute("DROP TABLE reviews CASCADE")
    connection.execute("DROP TABLE neighborhoods CASCADE")
    connection.execute("DROP TABLE bookings CASCADE")
    connection.execute("DROP TABLE amenities CASCADE")
    connection.execute("DROP TABLE availability CASCADE")
    connection.execute("DROP TABLE hostlistingscount CASCADE")
    connection.execute("DROP TABLE sentiments CASCADE")
    connection.execute("DROP TABLE securitydeposit CASCADE")
    connection.execute("DROP TABLE cleaningfee CASCADE")
    connection.execute("DROP TABLE guestsincluded CASCADE")
    connection.execute("DROP TABLE extrapeople CASCADE")
    connection.execute("DROP TABLE hostresponse CASCADE")
connection.close()

In [7]:
# create a new connection
connection = engine.connect()

# Pass the SQL statements that create all tables
g7 = """
CREATE TABLE hosts (
  id INT PRIMARY KEY,
  hostid INT,
  hostname VARCHAR(255),
  hostsince date
);

CREATE TABLE listings (
  listingid INT PRIMARY KEY,
  lastscraped date,
  id INT NOT NULL,
  market VARCHAR(255),
  price DECIMAL(10,2),
  weeklyprice DECIMAL(10,2),
  monthlyprice DECIMAL(10,2),
  FOREIGN KEY (id) REFERENCES hosts(id)
);

CREATE TABLE neighborhoods (
  neighborhoodid INT PRIMARY KEY,
  neighborhoodcleansed VARCHAR(255),
  neighborhoodgroupcleansed VARCHAR(255)
);

CREATE TABLE geolocations ( 
  geolocationsid INT PRIMARY KEY,
  geolocation VARCHAR(255),
  listingid INT NOT NULL,
  id INT NOT NULL,
  neighborhoodid INT NOT NULL,
  city VARCHAR(255),
  state VARCHAR(255),
  zipcode VARCHAR(255),
  country VARCHAR(255),
  latitude DECIMAL(15,12),
  longitude DECIMAL(15,12),
  FOREIGN KEY (listingid) REFERENCES listings(listingid),
  FOREIGN KEY (id) REFERENCES hosts(id),
  FOREIGN KEY (neighborhoodid) REFERENCES neighborhoods(neighborhoodid)
);

CREATE TABLE reviews (
  reviewid INT PRIMARY KEY,
  listingid INT NOT NULL,
  id INT NOT NULL,
  numberofreviews INT,
  firstreview date,
  lastreview date,
  reviewscoresrating DECIMAL(6,2),
  reviewscoresaccuracy DECIMAL(4,2),
  reviewscorescleanliness DECIMAL(4,2),
  reviewscorescheckin DECIMAL(4,2),
  reviewscorescommunication DECIMAL(4,2),
  reviewscoreslocation DECIMAL(4,2),
  reviewscoresvalue DECIMAL(4,2),
  reviewspermonth DECIMAL(6,2),
  FOREIGN KEY (listingid) REFERENCES listings(listingid),
  FOREIGN KEY (id) REFERENCES hosts(id)
);


CREATE TABLE bookings (
  bookingid INT PRIMARY KEY,
  listingid INT NOT NULL,
  minimumnights INT,
  maximumnights INT,
  roomtype VARCHAR(255),
  calendarupdated VARCHAR,
  propertytype VARCHAR(255),
  accomodates INT,
  bathrooms DECIMAL(4,2),
  bedrooms INT,
  beds INT,
  bedtype VARCHAR(255),
  squarefeet INT,
  cancellationpolicy VARCHAR(255),
  FOREIGN KEY (listingid) REFERENCES listings(listingid)
);

CREATE TABLE amenities (
  amenityid INT PRIMARY KEY,
  listingid INT NOT NULL,
  amenities VARCHAR,
  FOREIGN KEY (listingid) REFERENCES listings(listingid)
);

CREATE TABLE availability (
    availabilityid INT PRIMARY KEY,
    listingid INT NOT NULL,
    hasavailability BOOLEAN,
    availability30 INT,
    availability60 INT,
    availability90 INT,
    availability365 INT,
    calendarlastscraped date,
    FOREIGN KEY (listingid) REFERENCES listings(listingid)
);

CREATE TABLE hostlistingscount (
    hostlistingscountid INT PRIMARY KEY,
    id INT NOT NULL,
    calculatedhostlistingscount INT,
    hostlistingscount INT,
    hosttotallistingscount INT,
    FOREIGN KEY (id) REFERENCES hosts(id)
    );

CREATE TABLE sentiments (
  sentimentid int primary key,
  listingid int not null,
  sentiment int,
  foreign key (listingid) references listings(listingid)
);

CREATE TABLE securitydeposit (
  securitydepositid int primary key,
  listingid int not null,
  securitydeposit decimal(10,2),
  foreign key (listingid) references listings(listingid)
);

CREATE TABLE cleaningfee (
  cleaningfeeid int primary key,
  listingid int not null,
  cleaningfee decimal(10,2),
  foreign key (listingid) references listings(listingid)
);

CREATE TABLE guestsincluded (
  guestsincludedid int primary key,
  listingid int not null,
  guestsincluded int,
  foreign key (listingid) references listings(listingid)
);

CREATE TABLE extrapeople (
  extrapeopleid int primary key,
  listingid int not null,
  extrapeople int,
  foreign key (listingid) references listings(listingid)
);

CREATE TABLE hostresponse (
  hostresponseid int primary key,
  id int not null,
  hostresponsetime varchar(255),
  hostresponserate decimal(6,2),
  hostacceptancerate VARCHAR(10),
  foreign key (id) references hosts(id)
);


"""

# Execute the statement to create tables
connection.execute(g7)

In [8]:
# table hosts
hosts_df = df[['hostid', 'hostname', 'hostsince']].drop_duplicates()
hosts_df.insert(0, 'id', range(1, 1 + len(hosts_df)))
hosts_df.drop_duplicates(subset=['id','hostid', 'hostname', 'hostsince'], inplace=True)
hosts_df.to_sql(name='hosts', con=engine, if_exists='append', index=False)

208

In [9]:
hosts_df

          id     hostid            hostname hostsince
0          1   24035721             Michael  11/22/14
1          2     506809                  Ky   4/13/11
2          3   19684108               Celia    8/8/14
3          4    6912939                Nick   6/14/13
4          5   24663738  Angelita (AKA) LIA   12/9/14
...      ...        ...                 ...       ...
51164  43204   33385143               Becca   5/14/15
51165  43205  128478834                Ella    5/2/17
51166  43206    6486692                Cori   5/20/13
51169  43207   45861464                Beth   10/5/15
51170  43208   61976241              Genine    3/7/16

[43208 rows x 4 columns]

In [10]:
# Map hostid
hosts_list = [hosts_df.id[hosts_df.hostid == i].values[0] for i in df.hostid]

# Add id to the main dataframe
df.insert(0, 'id', hosts_list)

In [11]:
# table listings
listings = df[['listingid', 'lastscraped', 'id', 'market','price', 'weeklyprice', 'monthlyprice']].drop_duplicates()
listings.to_sql(name='listings', con=engine, if_exists='append', index=False)

171

In [12]:
# table neighborhoods

neighborhoods = df[['neighborhoodcleansed', 'neighborhoodgroupcleansed']].drop_duplicates()
neighborhoods.insert(0, 'neighborhoodid', range(1, 1 + len(neighborhoods)))
neighborhoods.drop_duplicates(subset=['neighborhoodcleansed', 'neighborhoodgroupcleansed', 'neighborhoodid'], inplace=True)
neighborhoods.to_sql(name='neighborhoods', con=engine, if_exists='append', index=False)

154

In [13]:
# Map neighborhoodid
neighborhoodid_list = [neighborhoods.neighborhoodid[neighborhoods.neighborhoodcleansed == i].values[0] for i in df.neighborhoodcleansed]

# Add neighborhoodid to the main dataframe
df.insert(0, 'neighborhoodid', neighborhoodid_list)

In [14]:
# table Geolocations

geolocations = df[['geolocation', 'listingid', 'id', 'neighborhoodid', 'city', 'state', 'zipcode', 'country', 'latitude', 'longitude']].drop_duplicates()
geolocations.insert(0, 'geolocationsid', range(1, 1 + len(geolocations)))
geolocations.drop_duplicates(subset=['geolocationsid', 'geolocation', 'listingid', 'id', 'neighborhoodid', 'city', 'state', 'zipcode', 'country', 'latitude', 'longitude'], inplace=True)
geolocations.to_sql(name='geolocations', con=engine, if_exists='append', index=False)

171

In [15]:
# table Reviews

reviews = df[['listingid', 'id', 'numberofreviews', 'firstreview', 'lastreview', 'reviewscoresrating', 'reviewscoresaccuracy', 'reviewscorescleanliness', 'reviewscorescheckin', 'reviewscorescommunication', 'reviewscoreslocation', 'reviewscoresvalue', 'reviewspermonth']].drop_duplicates()
reviews.insert(0, 'reviewid', range(1, 1 + len(reviews)))
reviews.drop_duplicates(subset=['reviewid', 'listingid', 'id', 'numberofreviews', 'firstreview', 'lastreview', 'reviewscoresrating', 'reviewscoresaccuracy', 'reviewscorescleanliness', 'reviewscorescheckin', 'reviewscorescommunication', 'reviewscoreslocation', 'reviewscoresvalue', 'reviewspermonth'], inplace=True)
reviews.to_sql(name='reviews', con=engine, if_exists='append', index=False)

171

In [16]:
# table Bookings

bookings = df[['listingid','minimumnights','maximumnights','roomtype','calendarupdated','propertytype','accomodates','bathrooms','bedrooms','beds','bedtype','squarefeet','cancellationpolicy']].drop_duplicates()

bookings.insert(0, 'bookingid', range(1, 1 + len(bookings)))

bookings.drop_duplicates(subset=['bookingid', 'listingid','minimumnights','maximumnights','roomtype','calendarupdated','propertytype','accomodates','bathrooms','bedrooms','beds','bedtype','squarefeet','cancellationpolicy'], inplace=True)
 
bookings.to_sql(name='bookings', con=engine, if_exists='append', index=False)

171

In [17]:
# table Amenities

amenities = df[['listingid', 'amenities']].drop_duplicates().reset_index(drop=True)

amenities.insert(0, 'amenityid', range(1, 1 + len(amenities)))

amenities.drop_duplicates(subset=['listingid', 'amenities','amenityid'], inplace=True)

amenities.to_sql(name='amenities', con=engine, if_exists='append', index=False)

171

In [18]:
# table Availability
availability = df[['listingid', 'hasavailability','availability30','availability60','availability90','availability365','calendarlastscraped']].drop_duplicates()

availability.insert(0, 'availabilityid', range(1, 1 + len(availability)))

availability.drop_duplicates(subset=['listingid', 'hasavailability','availability30','availability60','availability90','availability365','calendarlastscraped','availabilityid'], inplace=True)

availability.to_sql(name='availability', con=engine, if_exists='append', index=False)

171

In [19]:
# table HostListingsCount

hostlistingscount = df[['id', 'calculatedhostlistingscount','hostlistingscount','hosttotallistingscount']].drop_duplicates().reset_index(drop=True)

hostlistingscount.insert(0, 'hostlistingscountid', range(1, 1 + len(hostlistingscount)))

hostlistingscount.drop_duplicates(subset=['id', 'calculatedhostlistingscount','hostlistingscount','hosttotallistingscount','hostlistingscountid'], inplace=True)

hostlistingscount.to_sql(name='hostlistingscount', con=engine, if_exists='append', index=False)

309

In [20]:
# table Sentiments
sentiments = df[['listingid','sentiment']].drop_duplicates()
sentiments.insert(0, 'sentimentid', range(1, 1 + len(sentiments)))
sentiments.drop_duplicates(subset=['sentimentid','listingid','sentiment'], inplace=True)
sentiments.to_sql(name='sentiments', con=engine, if_exists='append', index=False)

171

In [21]:
# table SecurityDeposit
securitydeposit = df[['listingid','securitydeposit']].drop_duplicates()
securitydeposit.insert(0,'securitydepositid',range(1,1 + len(securitydeposit)))
securitydeposit.drop_duplicates(subset=['securitydepositid','listingid','securitydeposit'], inplace=True)
securitydeposit.to_sql(name='securitydeposit', con=engine, if_exists='append', index=False)

171

In [22]:
# table CleaningFee
cleaningfee = df[['listingid','cleaningfee']].drop_duplicates()
cleaningfee.insert(0,'cleaningfeeid',range(1,1 + len(cleaningfee)))
cleaningfee.drop_duplicates(subset=['cleaningfeeid','listingid','cleaningfee'], inplace=True)
cleaningfee.to_sql(name='cleaningfee', con=engine, if_exists='append', index=False)

171

In [23]:
# table GuestsIncluded
guestsincluded = df[['listingid','guestsincluded']].drop_duplicates()
guestsincluded.insert(0, 'guestsincludedid', range(1, 1 + len(guestsincluded)))
guestsincluded.drop_duplicates(subset=['guestsincludedid','listingid','guestsincluded'], inplace=True)
guestsincluded.to_sql(name='guestsincluded', con=engine, if_exists='append', index=False)

171

In [24]:
# table ExtraPeople
extrapeople = df[['listingid','extrapeople']].drop_duplicates()
extrapeople.insert(0,'extrapeopleid',range(1,1 + len(extrapeople)))
extrapeople.drop_duplicates(subset=['extrapeopleid','listingid','extrapeople'], inplace=True)
extrapeople.to_sql(name='extrapeople', con=engine, if_exists='append', index=False)

171

In [25]:
# table HostResponse
host_response = df[['id','hostresponsetime','hostresponserate','hostacceptancerate']].drop_duplicates()
host_response.insert(0, 'hostresponseid', range(1, 1 + len(host_response)))
host_response.drop_duplicates(subset=['hostresponseid','id','hostresponsetime','hostresponserate','hostacceptancerate'], inplace=True)
host_response.to_sql(name='hostresponse', con=engine, if_exists='append', index=False)

290

In [26]:
connection.close()